@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E5E5E7;
  font-family: "inter", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #E5E5E7;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

div.container-selecao-ies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

label {
  font-size: clamp(1rem, 1.2rem, 1.5rem);
  margin: 1rem;
}

select {
  padding: .5rem;
  font-size: 1.2rem;
  border: 1px solid #000;
  border-radius: 10px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.container-notas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

fieldset {
  border-radius: 10px;
  padding: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 500px;
}

.container-inputnota {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

input[type="number"] {
  padding: .5rem;
  font-size: 1.5rem;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: .8rem;
  max-width: 5rem;
  text-align: center;
}

button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #01A8D9;
  color: #fff;
  cursor: pointer;
  margin-top: 2rem;
}

.container-resposta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.container-resposta p {
  font-size: 6rem;
  font-weight: bold;
  color: #fff;
  background-color: #312D44;
  padding: 1rem 2rem;
  border-radius: 10px;
}
